* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.section {
  font-size: 80px; }

.content {
  background-image: linear-gradient(to right top, rgba(36, 145, 155, 0.4), rgba(223, 78, 78, 0.8)), url("../images/header.jpg");
  background-size: cover;
  width: 1750px;
  height: 1300px; }

.header {
  text-align: center;
  font-size: 68px;
  font-weight: 700;
  background-image: linear-gradient(to right top, rgba(150, 237, 245, 0.2), rgba(167, 41, 41, 0.8)); }

.table {
  display: table; }
  .table__row {
    display: table-row; }

.cell {
  display: table-cell; }

.tile1 {
  background-image: url("../images/1.png");
  background-size: cover;
  width: 120px;
  height: 120px;
  cursor: pointer;
  display: table-cell; }

.tile2 {
  background-image: url("../images/2.png");
  background-size: cover;
  width: 120px;
  height: 120px;
  cursor: pointer;
  display: table-cell; }

.tile3 {
  background-image: url("../images/3.png");
  background-size: cover;
  width: 120px;
  height: 120px;
  cursor: pointer;
  display: table-cell; }

.tile4 {
  background-image: url("../images/4.png");
  background-size: cover;
  width: 120px;
  height: 120px;
  cursor: pointer;
  display: table-cell; }

.tile5 {
  background-image: url("../images/5.png");
  background-size: cover;
  width: 120px;
  height: 120px;
  cursor: pointer;
  display: table-cell; }

.tile6 {
  background-image: url("../images/6.png");
  background-size: cover;
  width: 120px;
  height: 120px;
  cursor: pointer;
  display: table-cell; }

.tile7 {
  background-image: url("../images/7.png");
  background-size: cover;
  width: 120px;
  height: 120px;
  cursor: pointer;
  display: table-cell; }

.tile8 {
  background-image: url("../images/8.png");
  background-size: cover;
  width: 120px;
  height: 120px;
  cursor: pointer;
  display: table-cell; }

.tile9 {
  background-image: url("../images/9.png");
  background-size: cover;
  width: 120px;
  height: 120px;
  cursor: pointer;
  display: table-cell; }

.tile10 {
  background-image: url("../images/10.png");
  background-size: cover;
  width: 120px;
  height: 120px;
  cursor: pointer;
  display: table-cell; }

.tile11 {
  background-image: url("../images/11.png");
  background-size: cover;
  width: 120px;
  height: 120px;
  cursor: pointer;
  display: table-cell; }

.tile12 {
  background-image: url("../images/12.png");
  background-size: cover;
  width: 120px;
  height: 120px;
  cursor: pointer;
  display: table-cell; }

.tile13 {
  background-image: url("../images/13.png");
  background-size: cover;
  width: 120px;
  height: 120px;
  cursor: pointer;
  display: table-cell; }

.tile14 {
  background-image: url("../images/14.png");
  background-size: cover;
  width: 120px;
  height: 120px;
  cursor: pointer;
  display: table-cell; }

.tile15 {
  background-image: url("../images/15.png");
  background-size: cover;
  width: 120px;
  height: 120px;
  cursor: pointer;
  display: table-cell; }

.tile16 {
  background-image: url("../images/16.jpg");
  background-size: cover;
  width: 120px;
  height: 120px;
  cursor: default;
  display: table-cell; }

.table {
  margin-left: 480px;
  padding-top: 100px; }

.btn:link, .btn:visited {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 700;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  display: inline-block;
  border-radius: 20px;
  text-decoration: coral;
  transition: all .2s; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }

.btn-new-game {
  background-color: yellow; }
