* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

.section {
  font-size: 40px; }

.content {
  background-image: linear-gradient(to right top, rgba(36, 145, 155, 0.4), rgba(223, 78, 78, 0.8)), url("../images/header.jpg");
  background-size: cover;
  width: 1520px;
  height: 150vh; }

#display {
  width: 100%;
  font-size: 55px;
  text-align: center;
  margin: 0px auto; }

#displaymoves {
  width: 100%;
  font-size: 55px;
  text-align: center;
  margin: 0px auto; }

.blog {
  font-size: 14px;
  font-weight: bold;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1; }

/* container */
.container2 {
  width: 300px;
  height: auto;
  border-radius: 10px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  margin-left: 700px;
  margin-top: 0px;
  margin-top: -250px; }

/* leaderboard */
.leaderboard {
  background: linear-gradient(to bottom, #3a404d, #181c26); }

/* head */
.leaderboard .head {
  padding: 20px 16px;
  color: snow;
  font-size: 20px;
  text-align: center; }

.leaderboard .head h1 {
  display: inline-block;
  margin-left: 4px; }

/* body */
.leaderboard .body {
  color: snow;
  font-size: 16px; }

.leaderboard ol {
  counter-reset: number; }

.leaderboard li {
  padding: 16px;
  display: flex; }

.leaderboard li mark {
  flex-grow: 1;
  color: snow;
  background-color: transparent; }

.leaderboard li:before {
  counter-increment: number;
  content: counter(number) ".";
  margin-right: 4px; }

.leaderboard li:nth-child(1) {
  background: #fa6855; }

.leaderboard li:nth-child(2) {
  background: #e0574f; }

.leaderboard li:nth-child(3) {
  background: #d7514d; }

.leaderboard li:nth-child(4) {
  background: #cd4b4b; }

.leaderboard li:nth-child(5) {
  background: #c24448; }

.header {
  text-align: center;
  font-size: 68px;
  font-weight: 700;
  background-image: linear-gradient(to right top, rgba(150, 237, 245, 0.2), rgba(167, 41, 41, 0.8)); }

.table {
  display: table; }
  .table__row {
    display: table-row; }

.cell {
  display: table-cell; }

.tile11 {
  background-image: url("../images/1.png");
  background-size: cover;
  border-style: solid;
  border-color: black;
  width: 120px;
  height: 120px;
  cursor: pointer;
  display: table-cell;
  border-radius: 20px; }

.tile12 {
  background-image: url("../images/2.png");
  background-size: cover;
  border-style: solid;
  border-color: black;
  width: 120px;
  height: 120px;
  cursor: pointer;
  display: table-cell;
  border-radius: 20px; }

.tile13 {
  background-image: url("../images/3.png");
  background-size: cover;
  border-style: solid;
  border-color: black;
  width: 120px;
  height: 120px;
  cursor: pointer;
  display: table-cell;
  border-radius: 15px; }

.tile14 {
  background-image: url("../images/4.png");
  background-size: cover;
  border-style: solid;
  border-color: black;
  width: 120px;
  height: 120px;
  cursor: pointer;
  display: table-cell;
  border-radius: 15px; }

.tile21 {
  background-image: url("../images/5.png");
  background-size: cover;
  border-style: solid;
  border-color: black;
  width: 120px;
  height: 120px;
  cursor: pointer;
  display: table-cell;
  border-radius: 15px; }

.tile22 {
  background-image: url("../images/6.png");
  background-size: cover;
  border-style: solid;
  border-color: black;
  width: 120px;
  height: 120px;
  cursor: pointer;
  display: table-cell;
  border-radius: 15px; }

.tile23 {
  background-image: url("../images/7.png");
  background-size: cover;
  width: 120px;
  height: 120px;
  border-style: solid;
  border-color: black;
  cursor: pointer;
  display: table-cell;
  border-radius: 15px; }

.tile24 {
  background-image: url("../images/8.png");
  background-size: cover;
  width: 120px;
  height: 120px;
  border-style: solid;
  border-color: black;
  cursor: pointer;
  display: table-cell;
  border-radius: 15px; }

.tile31 {
  background-image: url("../images/9.png");
  background-size: cover;
  width: 120px;
  border-style: solid;
  border-color: black;
  height: 120px;
  cursor: pointer;
  display: table-cell;
  border-radius: 15px; }

.tile32 {
  background-image: url("../images/10.png");
  background-size: cover;
  width: 120px;
  border-style: solid;
  border-color: black;
  height: 120px;
  cursor: pointer;
  display: table-cell;
  border-radius: 15px; }

.tile33 {
  background-image: url("../images/11.png");
  background-size: cover;
  width: 120px;
  border-style: solid;
  border-color: black;
  height: 120px;
  cursor: pointer;
  display: table-cell;
  border-radius: 15px; }

.tile34 {
  background-image: url("../images/12.png");
  background-size: cover;
  width: 120px;
  border-style: solid;
  border-color: black;
  height: 120px;
  cursor: pointer;
  display: table-cell;
  border-radius: 15px; }

.tile41 {
  background-image: url("../images/13.png");
  background-size: cover;
  width: 120px;
  border-style: solid;
  border-color: black;
  height: 120px;
  cursor: pointer;
  display: table-cell;
  border-radius: 15px; }

.tile42 {
  background-image: url("../images/14.png");
  background-size: cover;
  width: 120px;
  border-style: solid;
  border-color: black;
  height: 120px;
  cursor: pointer;
  display: table-cell;
  border-radius: 15px; }

.tile43 {
  background-image: url("../images/15.png");
  background-size: cover;
  width: 120px;
  border-style: solid;
  border-color: black;
  height: 120px;
  cursor: pointer;
  display: table-cell;
  border-radius: 15px; }

.tile44 {
  background-image: url("../images/16.jpg");
  background-size: cover;
  width: 120px;
  border-style: solid;
  border-color: black;
  height: 120px;
  cursor: default;
  display: table-cell;
  border-radius: 15px; }

.table {
  margin-left: 480px;
  padding-top: 25px;
  text-align: center; }

.btn:link, .btn:visited {
  float: left;
  padding: 0.46em 1.6em;
  border: 0.1em solid #000000;
  margin: 0 0.2em 0.2em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto',sans-serif;
  font-weight: 300;
  color: #000000;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  background-color: #38d610;
  transition: all 0.15s; }

.btn:hover {
  text-shadow: 0 0 2em white;
  color: #FFFFFF;
  border-color: #FFFFFF; }

.btn:active {
  transform: translateY(-3px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }

.btn-new-game:link {
  background-color: #00ff0d;
  margin-left: 250px; }

.btn-reset:link {
  background-color: #00ff0d;
  margin-left: 450px; }

.btn-new-game:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }

.btn-reset:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }

.container {
  display: inline-block; }

.container1 {
  display: inline; }

.containermax {
  display: inline-block;
  margin-top: 0px; }
