.btn:link,.btn:visited{
    
float: left;
padding:0.46em 1.6em;
border:0.1em solid #000000;
margin:0 0.2em 0.2em 0;
border-radius:0.12em;
box-sizing: border-box;
text-decoration:none;
font-family:'Roboto',sans-serif;
font-weight:300;
color:#000000;
font-family: "Comic Sans MS", cursive, sans-serif;
text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
background-color:#38d610;

transition: all 0.15s;
@include respond(phone){
    
    margin:0.2em auto;
   display: block;
   
   
  
}
}
.btn:hover{
text-shadow: 0 0 2em rgba(255,255,255,1);
    color:#FFFFFF;
    border-color:#FFFFFF;
}
.btn:active{
    transform:translateY(-3px) ;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.btn-new-game:link{
background-color: rgb(0, 255, 13);
margin-left: 250px;
@include respond(phone){
    
    margin-left: 0px;
    font-size: 1.5rem;
    width: fit-content;
}

;
}
.btn-reset:link{
    background-color: rgb(0, 255, 13);
    margin-left: 450px;
    @include respond(phone){
        
        margin-left: 3rem;
        margin-top: 0.1rem;
        width: fit-content;
        font-size: 1.5rem;
        
    }
}
.btn-new-game:hover{
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.btn-reset:hover{
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.container{
    display: inline-block;
}
.container1{
   
    display: inline;
    
}
.containermax{
   
    display: inline-block;
    margin-top: 0px;
    
}