.table{
    
   margin-left: 20.50rem;
   padding-top: 2.5rem;
   text-align: center;
   
   
     @include respond(phone){
        margin-left: 0.15em;
        padding-top: 0em;
        text-align: left;
     }
  
      
}