.tile11{
    background-image: url("../images/1.png");
    background-size: cover;
    border-style: solid;
    border-color: black;
    width: 120px;
    height: 120px;
    cursor: pointer;
    display: table-cell;
    border-radius: 20px;
    
} 
.tile12{
    background-image: url("../images/2.png");
    background-size: cover; border-style: solid;
    border-color: black;
    width: 120px;
    height: 120px;
    cursor: pointer;
    display: table-cell;border-radius: 20px;
} 
.tile13{
    background-image: url("../images/3.png");
    background-size: cover;
   border-style: solid;
   border-color: black;
    width: 120px;
    height: 120px;cursor: pointer;display: table-cell;border-radius: 15px;
} 
.tile14{
    background-image: url("../images/4.png");
    background-size: cover; border-style: solid;
    border-color: black;
    width: 120px;
    height: 120px;cursor: pointer;display: table-cell;border-radius: 15px;
} 
.tile21{
    background-image: url("../images/5.png");
    background-size: cover; border-style: solid;
    border-color: black;
    width: 120px;
    height: 120px;cursor: pointer;display: table-cell;border-radius: 15px;
} 
.tile22{
    background-image: url("../images/6.png");
    background-size: cover; border-style: solid;
    border-color: black;
    width: 120px;
    height: 120px;cursor: pointer;display: table-cell;border-radius: 15px;
} 
.tile23{
    background-image: url("../images/7.png");
    background-size: cover;width: 120px;
    height: 120px; border-style: solid;
    border-color: black;
    cursor: pointer;display: table-cell;border-radius: 15px;
} 
.tile24{
    background-image: url("../images/8.png");
    background-size: cover;width: 120px;
    height: 120px;
    border-style: solid;
    border-color: black;cursor: pointer;display: table-cell;border-radius: 15px;
} 
.tile31{
    background-image: url("../images/9.png");
    background-size: cover;width: 120px;
    border-style: solid;
    border-color: black;
    height: 120px;cursor: pointer;display: table-cell;border-radius: 15px;
} 
.tile32{
    background-image: url("../images/10.png");
    background-size: cover;width: 120px;
    border-style: solid;
    border-color: black;
    height: 120px;cursor: pointer;display: table-cell;border-radius:15px;
} 
.tile33{
    background-image: url("../images/11.png");
    background-size: cover;width: 120px;
    border-style: solid;
    border-color: black;
    height: 120px;cursor: pointer;display: table-cell;border-radius: 15px;
} 
.tile34{
    background-image: url("../images/12.png");
    background-size: cover;width: 120px;
    border-style: solid;
    border-color: black;
    height: 120px;cursor: pointer;display: table-cell;border-radius: 15px;
} 
.tile41{
    background-image: url("../images/13.png");
    background-size: cover;width: 120px;
    border-style: solid;
    border-color: black;
    height: 120px;cursor: pointer;display: table-cell;border-radius: 15px;
} 
.tile42{
    background-image: url("../images/14.png");
    background-size: cover;width: 120px;
    border-style: solid;
    border-color: black;
    height: 120px;cursor: pointer;display: table-cell;border-radius: 15px;
} 

.tile43{
    background-image: url("../images/15.png");
    background-size: cover;width: 120px;
    border-style: solid;
    border-color: black;
    height: 120px;cursor: pointer;display: table-cell;border-radius: 15px;
} 
.tile44{
    background-image: url("../images/16.jpg");
    background-size: cover;width: 120px;
    border-style: solid;
    border-color: black;
    height: 120px;cursor: default;display: table-cell;border-radius: 15px;
} 