.tile1{
    background-image: url("../images/1.png");
    background-size: cover;
    border-style: solid;
    border-color: black;
    width: 120px;
    height: 120px;
    cursor: pointer;
    display: table-cell;
    border-radius: 20px;
    
} 
.tile2{
    background-image: url("../images/2.png");
    background-size: cover; border-style: solid;
    border-color: black;
    width: 120px;
    height: 120px;
    cursor: pointer;
    display: table-cell;border-radius: 20px;
} 
.tile3{
    background-image: url("../images/3.png");
    background-size: cover;
   border-style: solid;
   border-color: black;
    width: 120px;
    height: 120px;cursor: pointer;display: table-cell;border-radius: 15px;
} 
.tile4{
    background-image: url("../images/4.png");
    background-size: cover; border-style: solid;
    border-color: black;
    width: 120px;
    height: 120px;cursor: pointer;display: table-cell;border-radius: 15px;
} 
.tile5{
    background-image: url("../images/5.png");
    background-size: cover; border-style: solid;
    border-color: black;
    width: 120px;
    height: 120px;cursor: pointer;display: table-cell;border-radius: 15px;
} 
.tile6{
    background-image: url("../images/6.png");
    background-size: cover; border-style: solid;
    border-color: black;
    width: 120px;
    height: 120px;cursor: pointer;display: table-cell;border-radius: 15px;
} 
.tile7{
    background-image: url("../images/7.png");
    background-size: cover;width: 120px;
    height: 120px; border-style: solid;
    border-color: black;
    cursor: pointer;display: table-cell;border-radius: 15px;
} 
.tile8{
    background-image: url("../images/8.png");
    background-size: cover;width: 120px;
    height: 120px;
    border-style: solid;
    border-color: black;cursor: pointer;display: table-cell;border-radius: 15px;
} 
.tile9{
    background-image: url("../images/9.png");
    background-size: cover;width: 120px;
    border-style: solid;
    border-color: black;
    height: 120px;cursor: pointer;display: table-cell;border-radius: 15px;
} 
.tile10{
    background-image: url("../images/10.png");
    background-size: cover;width: 120px;
    border-style: solid;
    border-color: black;
    height: 120px;cursor: pointer;display: table-cell;border-radius:15px;
} 
.tile11{
    background-image: url("../images/11.png");
    background-size: cover;width: 120px;
    border-style: solid;
    border-color: black;
    height: 120px;cursor: pointer;display: table-cell;border-radius: 15px;
} 
.tile12{
    background-image: url("../images/12.png");
    background-size: cover;width: 120px;
    border-style: solid;
    border-color: black;
    height: 120px;cursor: pointer;display: table-cell;border-radius: 15px;
} 
.tile13{
    background-image: url("../images/13.png");
    background-size: cover;width: 120px;
    border-style: solid;
    border-color: black;
    height: 120px;cursor: pointer;display: table-cell;border-radius: 15px;
} 
.tile14{
    background-image: url("../images/14.png");
    background-size: cover;width: 120px;
    border-style: solid;
    border-color: black;
    height: 120px;cursor: pointer;display: table-cell;border-radius: 15px;
} 

.tile15{
    background-image: url("../images/15.png");
    background-size: cover;width: 120px;
    border-style: solid;
    border-color: black;
    height: 120px;cursor: pointer;display: table-cell;border-radius: 15px;
} 
.tile16{
    background-image: url("../images/16.jpg");
    background-size: cover;width: 120px;
    border-style: solid;
    border-color: black;
    height: 120px;cursor: default;display: table-cell;border-radius: 15px;
} 