*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}
.section{
    font-size: 40px;
}
#content{
    background-image: url("../images/header.jpg");
     background-size: cover;
     width: 152rem;
     height: 150em;
    @include respond(phone){
     width: 100%;
    
     font-size: 5em;
     height: 100%;
     background-size: cover;
   
}
    
    
}
#display{
    width: 100%;
    font-size: 55px;
    text-align: center;
    margin: 0px auto;
    
    font-family: "Comic Sans MS", cursive, sans-serif;
font-size: 50px;
letter-spacing: 0px;
word-spacing: 0px;
color: #ffffff;
font-weight: 700;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;
   
    
}
#displaymoves{
    width: 100%;
    font-size: 55px;
    text-align: center;
    margin: 0px auto;
    
    font-family: "Comic Sans MS", cursive, sans-serif;
font-size: 50px;
letter-spacing: 0px;
word-spacing: 0px;
color: #ffffff;
font-weight: 700;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;
   
    
   
    
}