.header{
    text-align: center;
    font-size: 68px;
    font-weight: 700;
    background-image: linear-gradient(
        to right top,
        rgba(150, 237, 245, 0.2),rgba(167, 41, 41, 0.8));
        
}
